body {
    text-align: center;
}
.icons img {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}
.cog-container {
    width: 90px;
    height: 110px;
}

.icons .cog-container{
    display: inline-block;
}

.icons .cog-container .cog{
    position: relative;
}
#SM_cog {
  top: 5px;
  left: 20px;
  position: relative;
  width: 38px;
  height: 38px;
  border-spacing: 0;
}
#LG_cog {
  top: -2px;
  left: 2px;
  position: relative;
  width: 45px;
  height: 45px;
  border-spacing: 0;
}

.desc-about {
    max-width: 600px;
    margin-left: auto;
    margin-right:auto;
}

.desc-about p {
    max-width: 600px;
}

#branch {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 10;
}

#flw-res {
    position: relative;
    z-index: 11;
}
#flw-bio {
    position: relative;
    z-index: 12;
}
#flw-code {
    position: relative;
    z-index: 13;
}
#flw-photo {
    position: relative;
    z-index: 14;
}
#flw-des {
    position: relative;
    z-index: 15;
}

.float-me {
    max-height: 100%;
    max-width: 100%;
}

.school-container {
    text-align: none;
}
.school {
    padding: 5px;
    width: 250px;
    display: inline-block;
    vertical-align:top;
}
.school p {
    width: 200px;
    padding-left: 25px;
    padding-right: 25px;
}
#center-school {
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}

.white-space-bar {
        padding-top: 100px;
        padding-bottom: 100px;
}

#codeguildBW img:hover {
      background-image: url('/pictures/PDX_CodeGuild.png');
}

.about-icon {
    width: 65px;
    height: 65px;
}

@media (max-width: 524px){
    #center-school {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: none;
    border-left: none;
}}

/*css for expandable panels*/

.container ul, li {
    margin:0;
    padding:0;
    font-size:13px;
    text-align: left;
}

#container {
    max-width:400px;
    margin:auto;
    margin-top:50px;
}

/* --------- COLLAPSIBLE PANELS ----------*/
.expand-icon {
    padding-top: 5px;
}

.expandable-panel {
    width:100%;
    position:relative;
    min-height:105px;
    overflow:auto;
    margin-bottom: 20px;
    border:1px solid #999;
}
.expandable-panel-heading {
    width:100%;
    cursor:pointer;
    min-height:70px;
    clear:both;
    background-color:#e5e5e5;
    position:relative;
}
.expandable-panel-heading:hover {
    color:#666;
}
.expandable-panel-heading h2 {
    padding:5px 10px 9px 15px;
    font-size:16px;
    line-height:20px;
    vertical-align: middle;
}
.expandable-panel-content {
    padding:0 1px 0 0;
    margin-top:-999px;
}
.expandable-panel-content p {
    padding:1px 0 1px 0;
}
.expandable-panel-content p:first-child  {
    padding-top:5px;
}
.expandable-panel-content p:last-child {
    padding-bottom:15px;
}
.icon-close-open {
    width:20px;
    height:20px;
    position:absolute;
    background-image:url(https://localhost/pictures/icon-close-open.png);
    right:15px;
}
.expandable-panel-content img {
    float:right;
    padding-left:12px;
}
.header-active {
    background-color:#D0D7F3;
}